# Entorno virtual
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.eggs/

# Archivos IFC
*.ifc

# Distribución y build
dist/
build/

# Binario portable de Ollama y sus modelos
/bin/
src/appcli/ollama/ollama
src/appcli/ollama/models/
